<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CouponSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CouponSystem.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CouponDB.accdb</value>
            </setting>
            <setting name="CouponDB" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CouponDB.accdb</value>
            </setting>
        </CouponSystem.Properties.Settings>
    </userSettings>
</configuration>